@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 75%;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    border: 1px solid green;
}

.calculator { 
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 2.0rem;
    border: 7px solid darkolivegreen;
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid darkolivegreen;
    overflow-x: auto;
    background: palegreen;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button {
    width: 25%;
    padding: 25px 0;
    text-align: center;
    cursor: pointer;
    background: greenyellow;
    border: 1px solid darkolivegreen;
}

.keypad-button:hover {
    filter:brightness(80%);
    transition: filter .25s;
}

.keypad-button.large {
    width: 50%;
}

.keypad-button.dark {
    background: mediumaquamarine;
}

.keypad-button.yellow {
    background: darkseagreen;
}

body {
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }